.flex-container {
    background-color: burlywood;
    color: cadetblue;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 2px black;

}

nav > button{
    font-weight: bolder;
    background-color: black;
}

nav > button:hover {
    background-color: red;
}

.navbar{
    background-color: burlywood;
}

#intro {
    font-weight: bold;
    text-shadow: none;
    width: 500px;
    font-size: larger;
    color: black
}




h2{
    color: red;
    text-shadow: 1px 1px 2px black;
}


select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    width: 200px; /* Set the width as needed */
    cursor: pointer;
  }
  
  /* Style the arrow icon for the select */
  select::after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Style options within the select */
  select option {
    background-color: #fff;
    color: #333;
  }
  
  /* Hover effect on options */
  select option:hover {
    background-color: #e0e0e0;
  }
  
button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

html, body {
    padding: 0;
    margin: 0;
}


