html, body {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: burlywood; 
}

.background-image-container {
    position: relative;
    height: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('army_camoflauged_laptop_in_an_.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0.7;
}

.navbar {
    background-color: burlywood;
}

nav > button {
    font-weight: bolder;
    background-color: black;
}

nav > button:hover {
    background-color: red;
}

.flex-container {
    color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black;
}

#intro {
    font-weight: bold;
    text-shadow: none;
    max-width: 500px;
    font-size: larger;
    color: black;
}

h2 {
    color: red;
    text-shadow: 1px 1px 2px black;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    cursor: pointer;
}

select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

select option {
    background-color: #fff;
    color: #333;
}

select option:hover {
    background-color: #e0e0e0;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 768px) {
    .flex-container {
        font-size: smaller;
    }
}

@media only screen and (max-width: 375px) {
    .flex-container {
        font-size: small;
    }
}
